body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #2d2d2d;
    color: #ffffff;
}

h2 {
    margin-bottom: 10px;
}

#dealer-cards, #your-cards {
    display: flex;
    justify-content: center;
}

#dealer-cards img, #your-cards img {
    height: 175px;
    width: 125px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    font-size: 24px;
    margin-top: 20px;
}
